<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

    <head>
        <title>UIkit</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:site" content="@getuikit">
        <meta name="twitter:image" content="https://getuikit.com/images/uikit-meta.png">
        <meta property="og:locale" content="en_GB">
        <meta property="og:type" content="website">
        <meta property="og:title" content="UIkit">
        <meta property="og:description" content="UIkit, a lightweight and modular front-end framework for developing fast and powerful web interfaces.">
        <meta property="og:url" content="https://getuikit.com/">
        <meta property="og:site_name" content="UIkit">
        <meta property="og:image" content="https://getuikit.com/images/uikit-meta.png">
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="preload" href="fonts/ProximaNova-Reg-webfont.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="fonts/ProximaNova-Light-webfont.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="css/theme.css?{{BUILD}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.2/marked.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.6.5/vue-router.min.js" defer></script>
        <script src="assets/uikit/dist/js/uikit.min.js?{{BUILD}}" defer></script>
        <script src="assets/uikit/dist/js/uikit-icons.min.js?{{BUILD}}" defer></script>
        <script src="app/main.min.js?{{BUILD}}" defer></script>
    </head>

    <body>
        <div id="app"></div>
    </body>

</html>
